# Unity3D .gitignore file.
# Store this file at the root of your local repository.
.DS_Store
Library/AssetImportState
Library/AssetServerCacheV3
Library/FailedAssetImports.txt
Library/ScriptAssemblies
Library/ScriptMapper
Library/assetDatabase3
Library/cache
Library/expandedItems
Library/metadata
Library/previews
Library/guidmapper
Library/CurrentLayout.dwlt
Library/CurrentMaximizeLayout.dwlt
Library/ShaderCache.db
Library/shadercompiler-1.log
Library/shadercompiler-2.log
Library/shadercompiler-3.log
Library/shadercompiler-4.log
Library/shadercompiler-5.log
Library/shadercompiler-6.log
Library/shadercompiler-7.log
Library/shadercompiler-8.log
Temp
*.csproj
*.pidb
*.sln
*.meta